# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Uploaded files
public/uploads/

# Logs
logs
*.log
log.txt

# OS / editor junk
.DS_Store
Thumbs.db
__MACOSX/
.idea/
.vscode/
*.swp

# Build / cache
dist/
coverage/